.bg-image{
    background-image: url(images/image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.paddindbody{
    padding-top: 19%;
}
.fr{
    box-shadow: -1px 1px 60px 10px rgba(0,0,0,0.5);
    background-color: rgba(0, 0, 0, 0.4);
}

.formconrol{
    border-radius: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom:1px solid white ;
    color: white;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-shadow: -1px 1px 60px 10px rgba(0,0,0,0.5);
}