<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/css/formulaire.css" th:href="@{/css/formulaire.css}">


    <title>ajouter Propriete</title>
</head>
<body>
<h1>Modifier les informations </h1>
<form method="post" th:action="@{/SaveUpdate}" th:objet="${propriete}">

    <label for="name">Nommez la propriete </label>
    <textarea id="name" name="name" required th:text="${propriete.name}"></textarea><br/>

    <label for="description">Description </label>
    <textarea id="description" name="description" required  th:text="${propriete.description}"></textarea><br/>

    <label for="localisation">Localisation </label>
    <textarea type="text" id="localisation" name="localisation" required th:text="${propriete.localisation}"></textarea><br/>


    <label>ville</label>
    <select class="listSelective" name="ville" th:texte="${propriete.ville}">
        <option>DOUALA</option>
        <option>YAOUNDE</option>
        <option>EBOLOWA</option>
        <option>BERTOUA</option>
        <option>BAFOUSSAM</option>
        <option>BAMENDA</option>
        <option>BUEA</option>
        <option>NGOUNDERE</option>
        <option>GAROUA</option>
        <option>MAROUA</option>
    </select><br/>

    <label>etat</label>
    <select class="listSelective" name="etat">
        <option>LA PROPRIETE N'EST PAS OCCUPEE PAR UN LOCATAIRE</option>
        <option>LA PROPRIETE EST OCCUPEE PAR UN LOCATAIRE </option>

    </select><br/>
    <label for="prix">Prix </label>
    <input type="number" id="prix" name="prix" required th:text="${propriete.prix}"><br/>


    <input type="submit" value="Modifier" class="btn2"><br/>
    <input type="button" value="annuler"  class="btn1">



</form>
</body>
</html>