.bg-image{
    background-image: url(../images/maison.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fr{
    box-shadow: -1px 1px 60px 10px rgba(0,0,0,0.5);
    background-color: #ba6101;
    padding: 15%;
}
.sr{
    margin-top: 10%;
}
.formconrol{
    border-radius: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom:1px solid white ;
    color: white;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-shadow: -1px 1px 60px 10px rgba(0,0,0,0.5);
}
