<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <title>
        Accueil
    </title>
<body>
<form method="post" th:action="@{/form}" >

    <center> <br>id_locatair:<input type="text" name="id_locataire" th:name="id_locataire">

        <br>montant:<input type="text" name="montant" th:name="montant">


        <br><input type="submit" th:value="submit" value="enregistrer">
    </center> </form>

</body>
</html>